# {{ ansible_managed }}
global
        log /dev/log	  local0
        log /dev/log	  local1 notice
        chroot {{ haproxy_global_chroot }}
        user {{ haproxy_global_user }}
        group {{ haproxy_global_group }}
        daemon

defaults
        log	    {{ haproxy_defaults_log }}
        mode	  {{ haproxy_defaults_mode }}
        option	httplog
        option	dontlognull
        timeout connect {{ haproxy_defaults_timeout_connect }}
        timeout client {{ haproxy_defaults_timeout_client }}
        timeout server {{ haproxy_defaults_timeout_server }}
        errorfile 400 {{ haproxy_defaults_errorfile_400 }}
        errorfile 403 {{ haproxy_defaults_errorfile_403 }}
        errorfile 408 {{ haproxy_defaults_errorfile_408 }}
        errorfile 500 {{ haproxy_defaults_errorfile_500 }}
        errorfile 502 {{ haproxy_defaults_errorfile_502 }}
        errorfile 503 {{ haproxy_defaults_errorfile_503 }}
        errorfile 504 {{ haproxy_defaults_errorfile_504 }}

listen http_proxy 0.0.0.0:80
