# {{ ansible_managed }}

global
{% for log in haproxy_global_log %}
        log {{ log.address }} {{ log.length|default(omit) }} {{ log.facility }} {{ log.level|default(omit) }}
{% endfor %}
        chroot {{ haproxy_global_chroot }}
        stats socket {{ haproxy_global_stats_socket_path }} {{ haproxy_global_stats_socket_params }}
        stats timeout {{ haproxy_global_stats_timeout }}
        user {{ haproxy_global_user }}
        group {{ haproxy_global_group }}
{% if haproxy_global_daemon %}
        daemon
{% endif %}
        maxconn {{ haproxy_global_maxconn }}

        # Default SSL material locations
        ca-base {{ haproxy_global_ca_base }}
        crt-base {{ haproxy_global_crt_base }}

        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        ssl-default-bind-ciphers {{ haproxy_global_ssl_default_bind_ciphers | join(":") }}
        ssl-default-bind-options {{ haproxy_global_ssl_default_bind_options | join(" ") }}

defaults
        log {{ haproxy_defaults_log }}
        mode {{ haproxy_defaults_mode }}
{% if haproxy_defaults_option_httplog %}
{% if haproxy_defaults_option_httplog_clf %}
        option httplog clf
{% else %}
        option httplog
{% endif %}
{% endif %}
{% if haproxy_defaults_option_dontlognull %}
        option dontlognull
{% else %}
        no option dontlognull
{% endif %}
        timeout connect {{ haproxy_defaults_timeout_connect }}
        timeout client {{ haproxy_defaults_timeout_client }}
        timeout server {{ haproxy_defaults_timeout_server }}
        errorfile 400 {{ haproxy_defaults_errorfile_400 }}
        errorfile 403 {{ haproxy_defaults_errorfile_403 }}
        errorfile 408 {{ haproxy_defaults_errorfile_408 }}
        errorfile 500 {{ haproxy_defaults_errorfile_500 }}
        errorfile 502 {{ haproxy_defaults_errorfile_502 }}
        errorfile 503 {{ haproxy_defaults_errorfile_503 }}
        errorfile 504 {{ haproxy_defaults_errorfile_504 }}

{% for proxy in haproxy_proxies %}
{{ proxy.type }} {{ proxy.name }}
        bind {{ proxy.bind }}
{% if proxy.balance_algorithm is defined and proxy.balance_algorithm %}
{% if proxy.balance_arguments is defined and proxy.balance_arguments %}
        balance {{ proxy.balance_algorithm }} {{ proxy.balance_arguments }}
{% else %}
        balance {{ proxy.balance_algorithm }}
{% endif %}
{% endif %}
{% if proxy.mode is defined and proxy.mode %}
        mode {{ proxy.mode }}
{% endif %}
{% if proxy.log is defined and proxy.log %}
        log {{ proxy.log }}
{% endif %}
{% if proxy.acls is defined and proxy.acls %}
{% for acl in proxy.acls %}
        acl {{ acl.name }} {{ acl.definition }}
{% endfor %}
{% endif %}
{% if proxy.use_servers is defined and proxy.use_servers %}
{% for use_server in proxy.use_servers %}
        use-server {{ use_server.name }} {{ use_server.condition }} {{ use_server.acl_name }}
{% endfor %}
{% endif %}
{% if proxy.servers is defined %}
{% for server in proxy.servers %}
{% if server.weight is defined %}
        server {{ server.name }} {{ server.address }} weight {{ server.weight }}
{% else %}
        server {{ server.name }} {{ server.address }}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
