# {{ ansible_managed }}

global
{% for log in haproxy_global_log %}
        log {{ log.address }} {{ log.length|default(omit) }} {{ log.facility }} {{ log.level|default(omit) }}
{% endfor %}
        chroot {{ haproxy_global_chroot }}
        stats socket {{ haproxy_global_stats_socket_path }} {{ haproxy_global_stats_socket_params }}
        stats timeout {{ haproxy_global_stats_timeout }}
        user {{ haproxy_global_user }}
        group {{ haproxy_global_group }}
{% if haproxy_global_daemon %}
        daemon
{% endif %}

        # Default SSL material locations
        ca-base {{ haproxy_global_ca_base }}
        crt-base {{ haproxy_global_crt_base }}

        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        ssl-default-bind-ciphers {{ haproxy_global_ssl_default_bind_ciphers | join(":") }}
        ssl-default-bind-options {{ haproxy_global_ssl_default_bind_options | join(" ") }}

defaults
        log {{ haproxy_defaults_log }}
        mode {{ haproxy_defaults_mode }}
{% if haproxy_defaults_option_httplog %}
{% if haproxy_defaults_option_httplog_clf %}
        option httplog clf
{% else %}
        option httplog
{% endif %}
{% endif %}
{% if haproxy_defaults_option_dontlognull %}
        option dontlognull
{% else %}
        no option dontlognull
{% endif %}
        timeout connect {{ haproxy_defaults_timeout_connect }}
        timeout client {{ haproxy_defaults_timeout_client }}
        timeout server {{ haproxy_defaults_timeout_server }}
        errorfile 400 {{ haproxy_defaults_errorfile_400 }}
        errorfile 403 {{ haproxy_defaults_errorfile_403 }}
        errorfile 408 {{ haproxy_defaults_errorfile_408 }}
        errorfile 500 {{ haproxy_defaults_errorfile_500 }}
        errorfile 502 {{ haproxy_defaults_errorfile_502 }}
        errorfile 503 {{ haproxy_defaults_errorfile_503 }}
        errorfile 504 {{ haproxy_defaults_errorfile_504 }}
